<.sidebar
  current_page={@current_page}
  show_programacion_children={@show_programacion_children}
  show_clientes_children={@show_clientes_children}
  show_prettycore_children={@show_prettycore_children}
  sidebar_open={@sidebar_open}
  current_user_email={@current_user_email}
  current_user_name={@current_user_name}
  user_role={@user_role}
  user_permissions={@user_permissions}
  current_user_id={assigns[:current_user_id]}
  notif_refresh={assigns[:notif_refresh] || 0}
>
  <.flash_group flash={@flash} /> {@inner_content}
</.sidebar>
